.rating { 
  border: none;
  position:relative;
}
.nota{
  position:relative;
  left:200px;
  bottom:20px;
}
.avaliacoes{
  position:relative;
  left:200px;
  bottom:20px;
}
 .item{
   width:180px;
 }
 .rating{
   height:20px;
 }
.rating > input { display: none; } 
.rating > label:before { 
  margin-top: 2px;
  padding:0px 5px 0px 5px;
  font-size: 1.25em;
  display: inline-block;
  content: "★";
}
.rating > label { 
	color: #282828; 
	float: right  ;
	margin:4px 1px 0px 0px;
	background-color:#fff;
}
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
	color:#cc9900 !important;
  cursor:pointer;
} 
.rating > input:checked ~ label {
    color: #cc9900